<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="="IE=edge>
    <meta name="viewport" content="width=device-width, initial-scal=1.0">
    <title>Restaurant Ranking</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/pricing/">

    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="pricing.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
</head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-5 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/" style="font-weight: 700;">Restaurant Ranking</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="Category.ejs">Category</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Sales.ejs">Sales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Franchise.ejs">Franchise</a>
                </li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li> -->
              </ul>
            </div>
        </nav>
    </div>
    <br>
        <center>
            <h1 style="font-weight: 700;">Special Thank </h1>
            <br>
            <p style="font-size: large;"> Thanapat Kangkachit, Ph.D. &middot; Assoc. Prof. Kitsana Waiyamai, Ph. D.</p>
            <a href="https://www.instagram.com/kuisskui/" target="_blank" style="font-size: large;">Kui &middot;</a>
            <a href="https://www.instagram.com/banana._.zzz/" target="_blank" style="font-size: large;">Time</a>
            <br>
            <a href="https://getbootstrap.com/" target="_blank" style="font-size: large;">Boostrap &middot;</a>
            <a href="https://openai.com/blog/chatgpt" target="_blank" style="font-size: large;">ChatGPT &middot;</a>
            <a href="https://www.youtube.com/@PatiphanPhengpao" target="_blank" style="font-size: large;">Patiphan Phengpao &middot;</a>
            <a href="https://www.youtube.com/@Nathakiataofmonky" target="_blank" style="font-size: large;">Graphic 2B &middot;</a>
            <a href="https://www.instagram.com/jotrovert/" target="_blank" style="font-size: large;">jotrovert</a>

            <br><br><br>
            <h1 style="font-weight: 700;">Team </h1>
            <p style="font-size: large;">K I A R</p>
            <p style="font-size: large;">TEEN</p>
            <p style="font-size: large;">froyaffgeckar &middot; <a href="https://www.instagram.com/froyaffgeckar/" target="_blank" style="font-size: large;">IG</a></p>
            <p style="font-size: large;">TAGCH &middot; <a href="https://www.instagram.com/ta_superyi/" target="_blank" style="font-size: large;">IG &middot;</a> <a href="https://github.com/TAGCH" target="_blank" style="font-size: large;">Github</a></p>
        </center>
        <hr class="featurette-divider">
        <center>
            <p><a class="btn btn-secondary" href="/" role="button">&laquo; Go Back</a></p>
        </center>
</body>
</html>